*{
    background-color: pink;
    


}

body::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

.container{
    display:flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
    overflow: hidden;
}

button{
            margin: 5px;
            border: 2px solid ;
            font-size: 20px;
}

#result{
    font-size: 30px;
    position: absolute;
    margin-top: 80px;
    margin-left: 20px;
}
